@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&family=Poppins:wght@200;300;400;500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
}
.main {
    background-image: url(./images/bg-image.jpg);
    height: 35rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.single-project .main {
    height: 26rem;
}
.category a {
    color: #731e1e;
    text-decoration: none;
}
.category a:hover {
    color: #ff7156;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11rem 0 3rem;

}
.content h1{
    font-size: 5rem;
    color: #731e1e;
    margin-bottom: 4rem;
}
.search-box {
    width: 30rem;
}
.search-icon svg {
    height: 28px;
    margin-top: 2px;
    fill: #a73636;
}
.searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}
.category {
    padding: 2rem 0;
}   
.suggestionList {
    list-style-type: none;
    padding: 0;
    padding-right: 3rem;
    opacity: 0.9;
    background-color: white;
    width: 30rem;
    border-radius: 5px;
    

}
.scrollbar {
    overflow-y:scroll;
    overflow-x: hidden;
    height: 105px;
}

li {
    padding: 3px 11px;
    width: 30rem;

}
/* .dropdown li:hover {
    background-color: rgb(241, 100, 81);
    color: white;
} */
.highlighted {
    background-color: rgb(250, 225, 221);
    color: black
}


.form-control {
    font-size: 1.2rem;
}


@media (max-width: 1200px) {
    .category-items {
        gap: 2rem;
    }
    .content h1 {
        font-size: 4rem;
    }
}

@media (max-width: 1024px) {
    .category-items {
        gap: 1rem;
    }
    .content h1 {
        font-size: 3rem;
    }
    .search-box {
        width: 27rem;
    }
    .suggestionList {
        width: 27rem;  
    }
}
@media (max-width: 991px) {
.category-items {
    justify-content: center;
}
.category {
    display: flex;
    flex-direction: column;
    align-items: center;
}
}
@media (max-width: 768px) {
    .category-items {
        gap: 1rem;
    }
    .content h1 {
        font-size: 2.8rem;
    }
    
    .suggestionList {
        width: 20rem;  
    }
    .search-box {
        width: 20rem;
    }
    .search-area {
        justify-content: center;
        position: relative;
    }
    .search-icon svg {
        height: 24px;
        margin-top: 8px;
        fill: #a73636;
        position: absolute;
        right: 22px;
    }
}

@media (max-width: 350px) {
    .search-box {
        width: 14rem;
    }
}
